body {
  background-color: #fffdd0;
}
#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  color: white;
  text-align: center;
}
#content {
  padding: 10px;
}
#nav {
  display: block;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#main {
  width 600px;
  float: center;
}
#footer {
  clear: both;
}
table, th,td {
  border-collapse: collapse;
  border: 3px solid;
  border-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

li {
  float: left;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
